<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msa4meerkatgram.domain.post.mapper.PostMapper">
    <resultMap id="postsResultMap" type="com.msa4meerkatgram.domain.post.entities.Post">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="content" property="content"/>
        <result column="image" property="image"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="deleted_at" property="deletedAt"/>
        
    </resultMap>
    
    <select id="getPagination" resultMap="postsResultMap">
        SELECT 
            *
        FROM posts
        WHERE 
            deleted_at IS NULL
        ORDER BY 
            created_at DESC, id ASC
        LIMIT #{offset}, #{limit}
    </select>
    
    <select id="getTotal">
        select 
            count(*)
        from posts
        where
            deleted_at IS null
    </select>
    <select id="findByPk" resultMap="postsResultMap">
    select
        *
    from posts
    where
        deleted_at is null
        and id = #{id}
    </select>
    <select id="countPostsByUserId" resultType="long">
        select count(*)
        from posts
        where deleted_at is null and user_id = #{userId}
    </select>
    <insert id="postCreate" useGeneratedKeys="true" keyProperty="id">
    insert into posts (user_id, content, image)
    values (#{userId}, #{content}, #{image})


    </insert>
    <select id="findByPkForDeleted" resultMap="postsResultMap">
        select *
        from posts
        where id = #{id}
    </select>
    <update id="postDelete">
    UPDATE posts
    set updated_at = now(),
        deleted_at = now()
    where id = #{id} and user_id = #{userId} and deleted_at is null

    </update>
</mapper>